container_commands:
  01-db_create:
    command: docker exec `docker ps -l -q -f 'status=running'` bundle exec rake db:create --trace
    leader_only: true
    ignoreErrors: false
  02-db_migrate:
    command: docker exec `docker ps -l -q -f 'status=running'` bundle exec rake db:migrate --trace
    leader_only: true
    ignoreErrors: false
  03-db_seed:
    command: docker exec `docker ps -l -q -f 'status=running'` bundle exec rake db:seed --trace
    leader_only: true
    ignoreErrors: false
